.bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.bottom__left {
    max-width: 719px;

}


.bottom__title {
    color: white;
    font-size: 68px;
    line-height: 1.15;
    max-width: 720px;
}

.bottom__right {

    max-width: 432px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}


.bottom__paragraph {
    font-size: 20px;
    color: white;
    color: rgba(244, 238, 241, 0.8);
}

.bottom__toplist {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;

}

.bottom__btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(22, 22, 40, 1);
    gap: 10px;
    border: none;
    border-radius: 6px;
    transition: 0.35s ease;
}

.bottom__btn:hover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #046948;
    gap: 10px;
    border: none;
    border-radius: 6px;
}

.bottom__img {
    width: 18px;
    height: 18px;
}

.bottom_team {
    max-width: 1216px;
    margin: 0 auto;
}

.bottom__about {
    font-size: 50px;
    font-weight: 500;
    line-height: 46.8px;
    color: white;
    margin-bottom: 20px;
    max-width: 747px;
}

.bottom__description {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    max-width: 538px;
    height: 109px;
    margin-bottom: 66px;
}

.bottom__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.bottom__item2 {
    max-width: 292px;
    background-color: #161628;
    border-radius: 12px;
    padding: 0 18px 20px;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.team__img {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -20px;
}


.item__post {
    color: #FFFFFF99;
    font-weight: 500;
    font-size: 13px;
    line-height: 16.9px;
    padding: 14px 0 1px;
}

.item__name {
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}

.item__description {
    color: #FFFFFF99;
    padding-bottom: 12px;
    line-height: 19.6px;
    font-size: 14px;
    font-weight: 400;
}

.item__visit__btn {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    border: 1px solid #FFFFFF66;
    color: white;
    transition: 0.3s ease;
    margin-top: auto;
    border-radius: 12px;
}

.item__visit__btn:hover {
    background-color: #602aff;
}


.rounded {
    border-radius: 1px;
    font-size: 50px;
}